@model Zach_BugTracker.Models.Ticket

@using Zach_BugTracker.Helpers
@using Microsoft.AspNet.Identity

@{
    var UserHelper = new UserHelper();
    var roleHelper = new RoleHelper();

    ViewBag.Title = "Details";
}


<div class="project-details-area mg-b-15">


    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                @*<div class="project-details-wrap shadow-reset">*@
                <div class="sparkline7-list shadow-reset mg-t-30">
                    <!--THIS LINE OF CODE IS WHAT ALLOWS TABLE TO COLLAPSE-->

                    <div class="sparkline7-hd">
                        <div class="main-spark7-hd">
                            <h1>Ticket Details</h1>
                            <div class="sparkline7-outline-icon">
                                <span class="sparkline7-collapse-link"><i class="fa fa-chevron-up"></i></span>
                            </div>
                        </div>
                    </div>

                    <div class="sparkline7-graph project-details-price-hd">
                        <!--MUST ALSO HAVE THIS LINE OF CODE SO THAT BOTTOM HALF WILL COLLAPSE-->
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="project-details-mg">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                            <div class="project-details-st">
                                                <span><strong>@Html.DisplayName("Status:")</strong></span>
                                            </div>
                                        </div>
                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                            <div class="btn-group project-list-ad">
                                                <button class="btn btn-white btn-xs"> @Html.DisplayFor(model => model.TicketStatus.StatusName)</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="project-details-mg">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                            <div class="project-details-st">
                                                <span><strong>@Html.DisplayName("Priority:")</strong></span>
                                            </div>
                                        </div>
                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                            <div class="project-details-dt">
                                                <span> @Html.DisplayFor(model => model.TicketPriority.PriorityName)</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="project-details-mg">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                            <div class="project-details-st">
                                                <span><strong>@Html.DisplayName("Type:")</strong></span>
                                            </div>
                                        </div>
                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                            <div class="project-details-dt">
                                                <span> @Html.DisplayFor(model => model.TicketType.TypeName)</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="project-details-mg">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                            <div class="project-details-st">
                                                <span><strong>@Html.DisplayName("Submitter:")</strong></span>
                                            </div>
                                        </div>
                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                            <div class="project-details-dt">
                                                <span> @Html.DisplayFor(model => model.Submitter.FullName)</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="project-details-mg">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                            <div class="project-details-st">
                                                <span><strong>@Html.DisplayName("Developer:")</strong></span>
                                            </div>
                                        </div>
                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                            <div class="project-details-dt">
                                                <span> @Html.DisplayFor(model => model.Developer.FullName)</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="project-details-mg">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                            <div class="project-details-st">
                                                <span><strong>@Html.DisplayName("Project Name:")</strong></span>
                                            </div>
                                        </div>
                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                            <div class="project-details-dt">
                                                <span> @Html.DisplayFor(model => model.Project.ProjectName)</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="project-details-mg">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                            <div class="project-details-st">
                                                <span><strong>@Html.DisplayName("Ticket Title:")</strong></span>
                                            </div>
                                        </div>
                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                            <div class="project-details-dt">
                                                <span> @Html.DisplayFor(model => model.Title)</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="project-details-mg">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                            <div class="project-details-st">
                                                <span><strong>@Html.DisplayName("Description:")</strong></span>
                                            </div>
                                        </div>
                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                            <div class="project-details-dt">
                                                <span> @Html.DisplayFor(model => model.Description)</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="project-details-mg">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                            <div class="project-details-st">
                                                <span><strong>@Html.DisplayName("Created:")</strong></span>
                                            </div>
                                        </div>
                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                            <div class="project-details-dt">
                                                <span> @Html.DisplayFor(model => model.Created)</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="project-details-mg">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                            <div class="project-details-st">
                                                <span><strong>@Html.DisplayName("Updated:")</strong></span>
                                            </div>
                                        </div>
                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                            <div class="project-details-dt">
                                                <span> @Html.DisplayFor(model => model.Updated)</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-2">
                                <div class="project-pregress-details">
                                    <span><strong>Completed:</strong></span>
                                </div>
                            </div>
                            <div class="col-lg-10">
                                <div class="skill-content-3 project-details-progress">
                                    <div class="skill">
                                        <div class="progress">
                                            <div class="progress-bar wow fadeInLeft" data-progress="95%" style="width: 95%;" data-wow-duration="1.5s" data-wow-delay="1.2s">
                                                <span>95%</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-lg-12">
                                <div class="project-details-tab">
                                    <ul class="nav nav-tabs res-pd-less-sm">
                                        <li>
                                            <a data-toggle="tab" href="#home">Notifications</a>
                                        </li>
                                        <li>
                                            <a data-toggle="tab" href="#menu1">History</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content res-tab-content-project">
                                        <div id="menu1" class="tab-pane fade in active animated slideInUp">
                                            <div class="project-details-completeness">
                                                <table class="table table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th>@Html.DisplayName("Submitter")</th>
                                                            <th>@Html.DisplayName("Updated By")</th>
                                                            <th>@Html.DisplayName("Property")</th>
                                                            <th>@Html.DisplayName("Original")</th>
                                                            <th>@Html.DisplayName("Updated To")</th>
                                                            <th>@Html.DisplayName("Date Updated")</th>
                                                            <th></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>

                                                        @foreach (var item in Model.TicketHistories)
                                                        {
                                                            <tr>
                                                                <td>
                                                                    @Html.DisplayFor(modelItem => item.Updater.FullName)
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(modelItem => item.Ticket.Submitter.FullName)
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(modelItem => item.Property)
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(modelItem => item.OldValue)
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(modelItem => item.NewValue)
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(modelItem => item.UpdatedDate)
                                                                </td>


                                                            </tr>
                                                        }

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div id="home" class="tab-pane fade in active animated bounceInUp">
                                            <div class="project-details-completeness">
                                                <table class="table table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th class="text-nowrap">@Html.DisplayName("Recipient")</th>
                                                            <th class="text-nowrap">@Html.DisplayName("Submitter")</th>
                                                            <th>@Html.DisplayName("Notification")</th>
                                                            <th>@Html.DisplayName("Created Date")</th>
                                                            <th class="text-nowrap">@Html.DisplayName("Is Read")</th>
                                                            <th></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>

                                                        @foreach (var item in Model.TicketNotifications)
                                                        {
                                                            <tr>
                                                                <td>
                                                                    @Html.DisplayFor(modelItem => item.Recipient.FullName)
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(modelItem => item.Ticket.Submitter.FullName)
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(modelItem => item.NotificationBody)
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(modelItem => item.CreatedDate)
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(modelItem => item.IsRead)
                                                                </td>
                                                                @*<td>
                                                                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                                                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                                                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                                                    </td>*@
                                                            </tr>
                                                        }

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>




                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<hr style="border:2px solid black;" />



<!--===================================================================================================================-->


<br />




<div class="row" align="center">
    <button type="submit" class="btn btn-lg btn-primary" href="#" data-toggle="modal" data-target="#PrimaryModalhdbgcl">Add Comment</button>
</div>


<br />


@foreach (var comment in Model.TicketComments.OrderByDescending(c => c.Created))
{
    <div class="container">
        <div class="widgets-personal-info-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4"></div>
                    <div class="col-lg-4">
                        <div class="personal-info-wrap shadow-reset">
                            <div class="widget-head-info-box">
                                <div class="persoanl-widget-hd">
                                    <h4>Author: @comment.User.FullName</h4>
                                    <p>@roleHelper.ListUserRoles(comment.UserId).FirstOrDefault()</p>
                                </div>
                                <img src="@comment.User.AvatarPath" style="width:100px;height:100px" class="img-circle circle-border m-b-md" alt="">

                                <br />

                                <div class="col-lg-12" align="center">
                                    <h4>Created On: @comment.Created.ToString("MMM dd, yyyy")</h4>
                                </div>

                            </div>
                            <div class="widget-text-box" align="center">
                                <div class="media">
                                    <div class="media-body">
                                        <div class="col-md-12">
                                            <p style="font-size:medium">@comment.Comment</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4"></div>
                </div>
            </div>
        </div>
    </div>
}


<hr style="border:2px solid black;" />



<br />

<div class="row" align="center">
    <button type="submit" class="btn btn-lg btn-success" href="#" data-toggle="modal" data-target="#InformationproModalalert">Add Attachment</button>
</div>


<br />


<!--=====================================================================================================-->

<div class="admin-dashone-data-table-area mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="sparkline8-list shadow-reset">
                    <div class="sparkline8-hd">
                        <div class="main-sparkline8-hd">
                            <h1>Ticket Attachments</h1>
                            <div class="sparkline8-outline-icon">
                                <span class="sparkline8-collapse-link"><i class="fa fa-chevron-up"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="sparkline8-graph">
                        <div class="datatable-dashv1-list custom-datatable-overright">

                            <table id="table" data-toggle="table" data-pagination="true" data-search="true" data-show-columns="true" data-show-pagination-switch="true" data-show-refresh="true" data-key-events="true" data-show-toggle="true" data-resizable="true" data-cookie="true" data-cookie-id-table="saveId" data-show-export="true" data-click-to-select="true" data-toolbar="#toolbar">
                                <thead>
                                    <tr>
                                       
                                        <th>
                                            @Html.DisplayName("File Type")
                                        </th>
                                        <th>
                                            @Html.DisplayName("File Path")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Created By")
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Description)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Created)
                                        </th>

                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!--ForEach goes here-->
                                    @foreach (var Attach in Model.TicketAttachments)
                                    {
                                    <tr>

                                       
                                        <td>
                                            <a href="@Attach.FilePath" target="_blank">
                                                <img src="@AttachmentHelper.GetIcon(Attach.FilePath)" style="width: 40px;" />
                                            </a>
                                        </td>
                                        <td>
                                            <a href="@Attach.FilePath" target="_blank">@Attach.FilePath.Split('/')[2]</a>
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => Attach.User.FullName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => Attach.Description)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => Attach.Created)
                                        </td>

                                    </tr>
                                    }
                                </tbody>

                            </table>
                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>








<!--=====================================================================================================-->










<br />


<hr style="border:2px solid black;" />

<div class="row" align="center">
    <h4 style="font:oblique">
        @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id })*@ |
        @Html.ActionLink("Return To My Tickets", "Index") |
        @*@Html.ActionLink("Add Attachment", "TicketAttachments", new { id = Model.Id }, null)*@
    </h4>
</div>

<br/>







<!--ADD COMMENT MODAL=========================================================================================================-->

<div id="PrimaryModalhdbgcl" class="modal modal-adminpro-general default-popup-PrimaryModal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header header-color-modal bg-color-1">
                <h4 class="modal-title">Add Comment Below</h4>
                <div class="modal-close-area modal-close-df">
                    <a class="close" data-dismiss="modal" href="#"><i class="fa fa-close"></i></a>
                </div>
            </div>
            <div class="modal-body">
                <i class="fa fa-check modal-check-pro"></i>

                <p>

                    @if (User.Identity.IsAuthenticated)
                    {
                        <div id="addComment">
                            @using (Html.BeginForm("Create", "TicketComments", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                @Html.Hidden("TicketId", Model.Id)

                                <div class="row" align="center">
                                    <div class="col-md-12">
                                        @Html.TextArea("Comment", new { rows = 5, cols = 68, placeholder = "Add Comment" })
                                    </div>
                                </div>
                                <div class="row" align="right">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-6">
                                        <button type="submit" class="btn btn-lg btn-success" align="center">Add</button>
                                    </div>
                                    <div class="col-md-2"></div>
                                </div>
                            }
                        </div>
                    }


                </p>
            </div>
            <div class="modal-footer">
                <a data-dismiss="modal" href="#">Cancel</a>
            </div>
        </div>
    </div>
</div>

<!--END OF COMMENT MODAL=================================================================================================================-->
<!--ADD ATTACHMENT MODAL==================================================================================================================-->

<div id="InformationproModalalert" class="modal modal-adminpro-general fullwidth-popup-InformationproModal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header header-color-modal bg-color-2">
                <h4 class="modal-title">Add Attachment Below</h4>
                <div class="modal-close-area modal-close-df">
                    <a class="close" data-dismiss="modal" href="#"><i class="fa fa-close"></i></a>
                </div>
            </div>
            <div class="modal-body">
                <span class="adminpro-icon adminpro-informatio modal-check-pro information-icon-pro"> </span>

                <p>

                    @if (User.Identity.IsAuthenticated)
                    {
                        <div>
                            @using (Html.BeginForm("Create", "TicketAttachments", FormMethod.Post, new { enctype = "Multipart/form-data" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.Hidden("TicketId", Model.Id)

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8 mg-b-20">
                                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group">
                                        @*@Html.Label("Attachment", htmlAttributes: new { @class = "control-label col-md-3" })*@
                                        <div class="col-md-12">
                                            <input type="file" name="file" class="form-control" />
                                            @Html.ValidationMessage("Attach.Filepath", "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                </div>

                                <br />
                                <br />

                                <div class="row" align="right">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-6">
                                        <button type="submit" class="btn btn-lg btn-success" align="center">Add Attachment</button>
                                    </div>
                                    <div class="col-md-2"></div>
                                </div>
                            }
                        </div>
                    }

                </p>
            </div>

            <div class="modal-footer">
                <a data-dismiss="modal" href="#">Cancel</a>
            </div>
        </div>
    </div>
</div>





<!--END OF ATTACHMENT MODAL==================================================================================================================-->

<div id="PrimaryModalalert" class="modal modal-adminpro-general default-popup-PrimaryModal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-close-area modal-close-df">
                <a class="close" data-dismiss="modal" href="#"><i class="fa fa-close"></i></a>
            </div>
            <div class="modal-body">
                <i class="fa fa-check modal-check-pro"></i>
                <h2>Awesome!</h2>
                <p>The Modal plugin is a dialog box/popup window that is displayed on top of the current page</p>
            </div>
            <div class="modal-footer">
                <a data-dismiss="modal" href="#">Cancel</a>
                <a href="#">Process</a>
            </div>
        </div>
    </div>
</div>



