@using Zach_BugTracker.Helpers
@using Microsoft.AspNet.Identity
@{
    var roleHelper = new RoleHelper();
    var UserHelper = new UserHelper();
}
<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Zach Pruitt Bug Tracker | .NET Developer</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/Images/favicon-16x16.png">


    <!-- Fave Icon
        ==============================================-->
    <link rel="shortcut icon" href="/Images/favicon-16x16.png">

    <!-- Google Fonts
        ============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i,800" rel="stylesheet">
    <!-- Bootstrap CSS
        ============================================ -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!-- Bootstrap CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/font-awesome.min.css">
    <!-- adminpro icon CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/adminpro-custon-icon.css">
    <!-- meanmenu icon CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/meanmenu.min.css">
    <!-- mCustomScrollbar CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/jquery.mCustomScrollbar.min.css">
    <!-- animate CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/animate.css">
    <!-- data-table CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/bootstrap-table.css">
    <link rel="stylesheet" href="~/Content/bootstrap-editable.css">
    <!-- normalize CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/normalize.css">
    <!-- charts C3 CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/c3.min.css">
    <!-- forms CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/all-type-forms.css">
    <!-- style CSS
        ============================================ -->
    <link href="~/Content/style.css" rel="stylesheet" />
    <!-- responsive CSS
        ============================================ -->
    <link href="~/Content/responsive.css" rel="stylesheet" />

    <!-- modernizr JS
        ============================================ -->
    <script src="~/Scripts/modernizr-2.8.3.min.js"></script>

    <!--jQuery DataTables reference
        ===============================================-->
    <link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />

    <!--Chosen Select List CSS=====================================-->
    @*<link href="~/Content/themesaller-forms.css" rel="stylesheet" />
        <link href="~/Content/bootstrap-chosen.css" rel="stylesheet" />*@

    <!--Modals CSS=======================================-->
    <link href="~/Content/tabs.css" rel="stylesheet" />
    <link href="~/Content/modals.css" rel="stylesheet" />

    <!-- PreLoader=================================================-->
    <link href="~/Content/preloader-style.css" rel="stylesheet" />

</head>


<body class="materialdesign">

    <!-- PreLoader===============================================-->
    @*<div class="ts_preloading_box">*@
    <div id="ts-preloader-absolute52">
        <div class="tscssload-triangles">
            <div class="tscssload-tri tscssload-invert"></div>
            <div class="tscssload-tri tscssload-invert"></div>
            <div class="tscssload-tri"></div>
            <div class="tscssload-tri tscssload-invert"></div>
            <div class="tscssload-tri tscssload-invert"></div>
            <div class="tscssload-tri"></div>
            <div class="tscssload-tri tscssload-invert"></div>
            <div class="tscssload-tri"></div>
            <div class="tscssload-tri tscssload-invert"></div>
        </div>
    </div>
    @*</div>*@




    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- Header top area start-->
    <div class="wrapper-pro">
        <div class="left-sidebar-pro">
            <nav id="sidebar">
                <div class="sidebar-header">
                    <a href="#">
                        <img src="@UserHelper.GetAvatarPath()" style="width:100px;height:100px" />
                    </a>
                    <br />
                    @*<h6>@Html.Partial("_LoginPartial")</h6>*@
                    @*<h4>@User.Identity.Name</h4>*@
                    <h5>Welcome,</h5>
                    <h4>@UserHelper.GetFirstName()</h4>
                    <h4>@UserHelper.GetLastName()</h4>
                    <p>@roleHelper.ListUserRoles(User.Identity.GetUserId()).FirstOrDefault()</p>
                    @*<strong>AP+</strong>*@
                </div>


                <div class="left-custom-menu-adp-wrap">
                    <ul class="nav navbar-nav left-sidebar-menu-pro">
                        <li class="nav-item">
                            <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle"><i class="fa big-icon fa-home"></i> <span class="mini-dn">Home</span> <span class="indicator-right-menu mini-dn"><i class="fa indicator-mn fa-angle-left"></i></span></a>
                            <div role="menu" class="dropdown-menu left-menu-dropdown animated flipInX">
                                @Html.ActionLink("My Dashboard", "Dashboard", "Home")
                            </div>
                        </li>

                        @if (User.IsInRole("Project_Manager") | (User.IsInRole("DemoPM")))
                        {
                            <li class="nav-item">
                                <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle"><i class="fa big-icon fa-envelope"></i> <span class="mini-dn">Manage</span> <span class="indicator-right-menu mini-dn"><i class="fa indicator-mn fa-angle-left"></i></span></a>
                                <div role="menu" class="dropdown-menu left-menu-dropdown animated flipInX">
                                    @Html.ActionLink("Manage Users On Projects", "ManageProjectUsers", "Admin", null, new { @class = "dropdown-item" })
                                </div>
                            </li>
                        }

                        @if (User.IsInRole("Admin") | (User.IsInRole("DemoAdmin")))
                        {
                            <li class="nav-item">
                                <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle"><i class="fa big-icon fa-envelope"></i> <span class="mini-dn">Manage</span> <span class="indicator-right-menu mini-dn"><i class="fa indicator-mn fa-angle-left"></i></span></a>
                                <div role="menu" class="dropdown-menu left-menu-dropdown animated flipInX">
                                    @Html.ActionLink("Manage Users On Projects", "ManageProjectUsers", "Admin", null, new { @class = "dropdown-item" })
                                    @Html.ActionLink("Manage User Roles", "ManageRoles", "Admin", null, new { @class = "dropdown-item" })
                                </div>
                            </li>
                        }

                        <li class="nav-item">
                            <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle"><i class="fa big-icon fa-ticket"></i> <span class="mini-dn">Tickets</span> <span class="indicator-right-menu mini-dn"><i class="fa indicator-mn fa-angle-left"></i></span></a>
                            <div role="menu" class="dropdown-menu left-menu-dropdown animated flipInX">
                                <span>  @Html.ActionLink("My Tickets", "Index", "Tickets", null, new { @class = "dropdown-item" })</span>
                                @if (User.IsInRole("Admin"))
                                {
                                    <span>    @Html.ActionLink("Attachments", "Index", "TicketAttachments", null, new { @class = "dropdown-item" })</span>
                                    <span>    @Html.ActionLink("Notifications", "Index", "TicketNotifications", null, new { @class = "dropdown-item" })</span>
                                    <span>   @Html.ActionLink("Ticket History", "Index", "TicketHistories", null, new { @class = "dropdown-item" })</span>
                                    <span>  @Html.ActionLink("Ticket Comments", "Index", "TicketComments", null, new { @class = "dropdown-item" })</span>
                                }
                            </div>
                        </li>
                        <li class="nav-item">
                            <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle"><i class="fa big-icon fa-list"></i> <span class="mini-dn">Projects</span> <span class="indicator-right-menu mini-dn"><i class="fa indicator-mn fa-angle-left"></i></span></a>
                            <div role="menu" class="dropdown-menu left-menu-dropdown animated flipInX">
                                @Html.ActionLink("My Projects", "Index", "Projects", null, new { @class = "dropdown-item" })

                                @if (User.IsInRole("Admin") | (User.IsInRole("Project_Manager") | (User.IsInRole("DemoAdmin") | (User.IsInRole("DemoPM")))))
                                {

                                    @Html.ActionLink("Create", "Create", "Projects", null, new { @class = "dropdown-item" })


                                }

                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="content-inner-all">
            <div class="header-top-area">
                <div class="fixed-header-top">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-1 col-md-6 col-sm-6 col-xs-12">
                                <button type="button" id="sidebarCollapse" class="btn bar-button-pro header-drl-controller-btn btn-info navbar-btn">
                                    <i class="fa fa-bars"></i>
                                </button>
                                <div class="admin-logo logo-wrap-pro">
                                    <img src="@UserHelper.GetAvatarPath()" />
                                </div>
                            </div>
                            <div class="col-lg-8 col-md-1 col-sm-1 col-xs-12">
                            </div>
                            <div class="col-lg-3 col-md-5 col-sm-6 col-xs-12">
                                <div class="header-right-info">
                                    <ul class="nav navbar-nav mai-top-nav header-right-menu">

                                        <li class="nav-item">
                                            <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle">
                                                <i class="fa fa-comments-o" aria-hidden="true"></i>
                                                <span class="indicator-nt">@NotificationHelper.GetUnreadNotifications().Count()</span>
                                            </a>
                                            <div role="menu" class="notification-author dropdown-menu animated flipInX">
                                                <div class="notification-single-top">
                                                    <h1>Notifications</h1>
                                                </div>
                                                <ul class="notification-menu">
                                                    @foreach (var unreadNotification in NotificationHelper.GetUnreadNotifications())
                                                    {
                                                        <li>
                                                            @using (Html.BeginForm("Dismiss", "TicketNotifications", FormMethod.Get))
                                                            {
                                                                @Html.AntiForgeryToken()
                                                                @Html.Hidden("Id", unreadNotification.Id)

                                                                //This is the image of the person that generated the notification

                                                                <div class="notification-icon">
                                                                    <img src="@unreadNotification.Sender.AvatarPath" />
                                                                    @*<span class="image"><img src="@unreadNotification.Sender.AvatarPath" /></span>*@
                                                                </div>
                                                                <div class="conatiner">
                                                                    <div class="notification-content">
                                                                        <div>
                                                                            <span class="notification-date">@unreadNotification.CreatedDate.ToString("MMM dd")</span>
                                                                            <h2>@unreadNotification.Sender.FullName</h2>
                                                                            @*<p align="left">@unreadNotification.NotificationBody</p>*@
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div>
                                                                    <p align="left"> @unreadNotification.NotificationBody</p>
                                                                </div>

                                                                <div>
                                                                    <button class="btn btn-sm" type="submit">Dismiss</button>
                                                                </div>
                                                            }
                                                        </li>

                                                    }
                                                </ul>
                                                <div class="notification-view">
                                                    <a href="@Url.Action("Index", "TicketNotifications")">View All Notification</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle">
                                                <span class="adminpro-icon adminpro-user-rounded header-riht-inf"></span>
                                                <span class="admin-name" style="max-width:150px">@UserHelper.GetFullName()</span>
                                                <span class="author-project-icon adminpro-icon adminpro-down-arrow"></span>
                                            </a>
                                            <ul role="menu" class="dropdown-header-top author-log dropdown-menu animated flipInX">
                                                <li>
                                                    @Html.ActionLink("My Profile", "EditProfile", "Manage", null, new { @class = "nav-link" })
                                                </li>
                                                <li>
                                                    @Html.ActionLink("LogOff", "CustomLogOff", "Account", null, new { @class = "nav-link" })
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Header top area end-->
            <!-- Breadcome start-->
            @*<div class="container">
                    <div class="breadcome-area mg-b-30 small-dn">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="breadcome-list map-mg-t-40-gl shadow-reset">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                <div class="breadcome-heading">
                                                    <form role="search" class="">
                                                        <input type="text" placeholder="Search..." class="form-control">
                                                        <a href=""><i class="fa fa-search"></i></a>
                                                    </form>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                <ul class="breadcome-menu">
                                                    <li>
                                                        <a href="#">Home</a> <span class="bread-slash">/</span>
                                                    </li>
                                                    <li>
                                                        <span class="bread-blod">Dashboard</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>*@
            <!-- Breadcome End-->
            <!-- Mobile Menu start -->
            @*<div class="mobile-menu-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="mobile-menu">
                                    <nav id="dropdown">
                                        <ul class="mobile-menu-nav">
                                            <li>
                                                <a data-toggle="collapse" data-target="#Charts" href="#">Home <span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                                <ul class="collapse dropdown-header-top">
                                                    <li>
                                                        <a href="dashboard.html">Dashboard v.1</a>
                                                    </li>
                                                    <li>
                                                        <a href="dashboard-2.html">Dashboard v.2</a>
                                                    </li>
                                                    <li>
                                                        <a href="analytics.html">Analytics</a>
                                                    </li>
                                                    <li>
                                                        <a href="widgets.html">Widgets</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a data-toggle="collapse" data-target="#demo" href="#">Mailbox <span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                                <ul id="demo" class="collapse dropdown-header-top">
                                                    <li>
                                                        <a href="inbox.html">Inbox</a>
                                                    </li>
                                                    <li>
                                                        <a href="view-mail.html">View Mail</a>
                                                    </li>
                                                    <li>
                                                        <a href="compose-mail.html">Compose Mail</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a data-toggle="collapse" data-target="#others" href="#">Miscellaneous <span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                                <ul id="others" class="collapse dropdown-header-top">
                                                    <li>
                                                        <a href="profile.html">Profile</a>
                                                    </li>
                                                    <li>
                                                        <a href="contact-client.html">Contact Client</a>
                                                    </li>
                                                    <li>
                                                        <a href="contact-client-v.1.html">Contact Client v.1</a>
                                                    </li>
                                                    <li>
                                                        <a href="project-list.html">Project List</a>
                                                    </li>
                                                    <li>
                                                        <a href="project-details.html">Project Details</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a data-toggle="collapse" data-target="#Miscellaneousmob" href="#">Interface <span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                                <ul id="Miscellaneousmob" class="collapse dropdown-header-top">
                                                    <li>
                                                        <a href="google-map.html">Google Map</a>
                                                    </li>
                                                    <li>
                                                        <a href="data-maps.html">Data Maps</a>
                                                    </li>
                                                    <li>
                                                        <a href="pdf-viewer.html">Pdf Viewer</a>
                                                    </li>
                                                    <li>
                                                        <a href="x-editable.html">X-Editable</a>
                                                    </li>
                                                    <li>
                                                        <a href="code-editor.html">Code Editor</a>
                                                    </li>
                                                    <li>
                                                        <a href="tree-view.html">Tree View</a>
                                                    </li>
                                                    <li>
                                                        <a href="preloader.html">Preloader</a>
                                                    </li>
                                                    <li>
                                                        <a href="images-cropper.html">Images Cropper</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a data-toggle="collapse" data-target="#Chartsmob" href="#">Charts <span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                                <ul id="Chartsmob" class="collapse dropdown-header-top">
                                                    <li>
                                                        <a href="bar-charts.html">Bar Charts</a>
                                                    </li>
                                                    <li>
                                                        <a href="line-charts.html">Line Charts</a>
                                                    </li>
                                                    <li>
                                                        <a href="area-charts.html">Area Charts</a>
                                                    </li>
                                                    <li>
                                                        <a href="rounded-chart.html">Rounded Charts</a>
                                                    </li>
                                                    <li>
                                                        <a href="c3.html">C3 Charts</a>
                                                    </li>
                                                    <li>
                                                        <a href="sparkline.html">Sparkline Charts</a>
                                                    </li>
                                                    <li>
                                                        <a href="peity.html">Peity Charts</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a data-toggle="collapse" data-target="#Tablesmob" href="#">Tables <span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                                <ul id="Tablesmob" class="collapse dropdown-header-top">
                                                    <li>
                                                        <a href="static-table.html">Static Table</a>
                                                    </li>
                                                    <li>
                                                        <a href="data-table.html">Data Table</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a data-toggle="collapse" data-target="#formsmob" href="#">Forms <span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                                <ul id="formsmob" class="collapse dropdown-header-top">
                                                    <li>
                                                        <a href="basic-form-element.html">Basic Form Elements</a>
                                                    </li>
                                                    <li>
                                                        <a href="advance-form-element.html">Advanced Form Elements</a>
                                                    </li>
                                                    <li>
                                                        <a href="password-meter.html">Password Meter</a>
                                                    </li>
                                                    <li>
                                                        <a href="multi-upload.html">Multi Upload</a>
                                                    </li>
                                                    <li>
                                                        <a href="tinymc.html">Text Editor</a>
                                                    </li>
                                                    <li>
                                                        <a href="dual-list-box.html">Dual List Box</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a data-toggle="collapse" data-target="#Appviewsmob" href="#">App views <span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                                <ul id="Appviewsmob" class="collapse dropdown-header-top">
                                                    <li>
                                                        <a href="basic-form-element.html">Basic Form Elements</a>
                                                    </li>
                                                    <li>
                                                        <a href="advance-form-element.html">Advanced Form Elements</a>
                                                    </li>
                                                    <li>
                                                        <a href="password-meter.html">Password Meter</a>
                                                    </li>
                                                    <li>
                                                        <a href="multi-upload.html">Multi Upload</a>
                                                    </li>
                                                    <li>
                                                        <a href="tinymc.html">Text Editor</a>
                                                    </li>
                                                    <li>
                                                        <a href="dual-list-box.html">Dual List Box</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a data-toggle="collapse" data-target="#Pagemob" href="#">Pages <span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                                <ul id="Pagemob" class="collapse dropdown-header-top">
                                                    <li>
                                                        <a href="login.html">Login</a>
                                                    </li>
                                                    <li>
                                                        <a href="register.html">Register</a>
                                                    </li>
                                                    <li>
                                                        <a href="captcha.html">Captcha</a>
                                                    </li>
                                                    <li>
                                                        <a href="checkout.html">Checkout</a>
                                                    </li>
                                                    <li>
                                                        <a href="contact.html">Contacts</a>
                                                    </li>
                                                    <li>
                                                        <a href="review.html">Review</a>
                                                    </li>
                                                    <li>
                                                        <a href="order.html">Order</a>
                                                    </li>
                                                    <li>
                                                        <a href="comment.html">Comment</a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>*@
            <!-- Mobile Menu end -->
            <!-- welcome Project, sale area start-->

            <div class="container mg-t-40">
                <div>
                    @RenderBody()
                </div>
            </div>

        </div>
    </div>
    <!-- Footer Start-->
    <!-- jquery
        ============================================ -->
    <script src="~/Scripts/jquery-1.11.3.min.js"></script>
    <!-- bootstrap JS
        ============================================ -->
    <script src="~/Scripts/bootstrap.min.js"></script>

    <!-- meanmenu JS
        ============================================ -->
    <script src="~/Scripts/jquery.meanmenu.js"></script>
    <!-- mCustomScrollbar JS
        ============================================ -->
    <script src="~/Scripts/jquery.mCustomScrollbar.concat.min.js"></script>
    <!-- sticky JS
        ============================================ -->
    <script src="~/Scripts/jquery.sticky.js"></script>
    <!-- scrollUp JS
        ============================================ -->
    <script src="~/Scripts/jquery.scrollUp.min.js"></script>

    <!--Sweet Alert
        ============================================-->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@9"></script>

    <!-- counterup JS
        ============================================ -->
    <script src="~/Scripts/jquery.counterup.min.js"></script>
    <script src="~/Scripts/waypoints.min.js"></script>
    <script src="~/Scripts/counterup-active.js"></script>
    <!-- peity JS
        ============================================ -->
    <script src="~/Scripts/jquery.peity.min.js"></script>
    <script src="~/Scripts/peity-active.js"></script>
    <!-- sparkline JS
        ============================================ -->
    <script src="~/Scripts/jquery.sparkline.min.js"></script>
    <script src="~/Scripts/sparkline-active.js"></script>
    <!-- flot JS
        ============================================ -->
    <script src="~/Scripts/Chart.min.js"></script>
    <script src="~/Scripts/flot-active.js"></script>
    <!-- map JS
        ============================================ -->
    <script src="~/Scripts/raphael.min.js"></script>
    <script src="~/Scripts/jquery.mapael.js"></script>
    <script src="~/Scripts/france_departments.js"></script>
    <script src="~/Scripts/world_countries.js"></script>
    <script src="~/Scripts/usa_states.js"></script>
    <script src="~/Scripts/map-active.js"></script>
    <!-- data table JS
        ============================================ -->
    <script src="~/Scripts/bootstrap-table.js"></script>
    <script src="~/Scripts/tableExport.js"></script>
    <script src="~/Scripts/data-table-active.js"></script>
    <script src="~/Scripts/bootstrap-table-editable.js"></script>
    <script src="~/Scripts/bootstrap-editable.js"></script>
    <script src="~/Scripts/bootstrap-table-resizable.js"></script>
    <script src="~/Scripts/colResizable-1.5.source.js"></script>
    <script src="~/Scripts/bootstrap-table-export.js"></script>

    <script src="~/Scripts/jquery.dataTables.min.js"></script>

    <!-- Editable JS
        ===============================================-->
    <script src="~/Scripts/jquery.mockjax.js"></script>
    <script src="~/Scripts/mock-active.js"></script>
    <script src="~/Scripts/select2.js"></script>
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.js"></script>
    <script src="~/Scripts/xediable-active.js"></script>


    <!--Chosen Select List JS=========================================-->
    <script src="~/Scripts/chosen.jquery.js"></script>
    <script src="~/Scripts/chosen-active.js"></script>



    <!--Modals JS=========================================-->
    <script src="~/Scripts/modal-active.js"></script>


    <!-- main JS
      ============================================ -->
    <script src="~/Scripts/main.js"></script>



    @RenderSection("scripts", required: false)


    <script>
        $('#ts-preloader-absolute52').fadeOut(5000, function(){ $('#ts-preloader-absolute52').remove(); } );
    </script>


    <script>
        $('#demoTable').DataTable();
    </script>





    <script>
        var sweetAlert = '@Session["Message"]';
        if (sweetAlert != '') {
            Swal.fire({
                icon: 'warning',
                title: 'Sorry',
                text: sweetAlert
            })
            @{ HttpContext.Current.Session.Remove("Message");}
        }
    </script>




</body>

</html>