@model IEnumerable<Zach_BugTracker.Models.ManageRolesViewModel>
@{
    ViewBag.Title = "ManageRoles";

}


<style>
    .cntrlWide {
        width: 100%
    }
</style>




<!--New Edit Table=========================================================================================================================================-->




@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()



    <div class="advanced-form-area mg-b-15">
        <div class="container-fluid">

            <div class="row">
                <div class="col-lg-12">
                    <div class="sparkline10-list shadow-reset mg-t-30">
                        <div class="sparkline10-hd">
                            <div class="main-sparkline10-hd">
                                <h1>Manage User Roles</h1>
                                <div class="sparkline10-outline-icon">
                                    <span class="sparkline10-collapse-link"><i class="fa fa-chevron-up"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="sparkline10-graph">
                            <div class="input-knob-dial-wrap">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="chosen-select-single mg-b-20" align="center">
                                            <div class="col-md-3"></div>
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <h3>Select Users</h3>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        @Html.ListBox("UserIds", null, new { @class = "cntrlWide" })
                                                    </div>
                                                </div>

                                                <hr />


                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <h3>Select Role</h3>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        @Html.DropDownList("Role", null, "--Select Role--", new { @class = "cntrlWide" })
                                                    </div>
                                                </div>

                                                <hr />

                                              

                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-md-12 mg-t-20">

                                                            <button type="submit" align="center" class="btn btn-success btn-lg">Assign Role</button>
                                                            @*<input type="submit" value="Save Changes" class="btn-lg btn-success" />*@

                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <br />

                                <div class="row">
                                    <div class="col-lg-2"></div>
                                    <div class="col-lg-8 align-center">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        @Html.DisplayName("Full Name")
                                                    </th>
                                                    <th>
                                                        @Html.DisplayName("Role")
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var user in Model)
                                                {
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(model => user.UserName)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(model => user.RoleName)
                                                    </td>
                                                
                                                </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-lg-2"></div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}










<!--End Edit Table=======================================================================================================================-->

<div class="row" align="center">
    <h4 style="font:oblique">
        | @Html.ActionLink("Return To Home", "Dashboard", "Home") |
    </h4>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}






