@using Zach_BugTracker.Helpers
@model IEnumerable<Zach_BugTracker.Models.UserProjectListViewModel>
@{
    ViewBag.Title = "Manage Project Users";
    var pHelper = new ProjectsHelper();

}



<style>
    .cntrlWide {
        width: 100%
    }
</style>






<!--New Edit Table=========================================================================================================================================-->




@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()



    <div class="advanced-form-area mg-b-15">
        <div class="container-fluid">

            <div class="row">
                <div class="col-lg-12">
                    <div class="sparkline10-list shadow-reset mg-t-30">
                        <div class="sparkline10-hd">
                            <div class="main-sparkline10-hd">
                                <h1>Manage Users On Projects</h1>
                                <div class="sparkline10-outline-icon">
                                    <span class="sparkline10-collapse-link"><i class="fa fa-chevron-up"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="sparkline10-graph">
                            <div class="input-knob-dial-wrap">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="chosen-select-single mg-b-20" align="center">
                                            <div class="col-md-3"></div>
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <h3>Select Project</h3>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        @Html.DropDownList("Project", null, "--Select Project--", new { @class = "form-control" })
                                                    </div>
                                                </div>

                                                <hr />

                                                @if (User.IsInRole("Admin"))
                                                {
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <h3>Select Project Manager</h3>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            @Html.DropDownList("ProjectManagerId", null, "--Select Project Manager--", new { @class = "form-control" })
                                                        </div>
                                                    </div>
                                                    <hr />
                                                }



                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <h3>Select Developers</h3>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        @Html.ListBox("Developers", null, new { @class = "form-control" })
                                                    </div>
                                                </div>

                                                <hr />

                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <h3>Select Submitters</h3>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        @Html.ListBox("Submitters", null, new { @class = "form-control" })
                                                    </div>
                                                </div>

                                                <br />

                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-md-12 mg-t-20">
                                                          
                                                                <button type="submit" value="Save Changes" align="center" class="btn btn-success btn-lg">Assign</button>
                                                                @*<input type="submit" value="Save Changes" class="btn-lg btn-success" />*@
                                                       
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <br/>

                                <div class="row">
                                    <div class="col-lg-2"></div>
                                    <div class="col-lg-8 align-center">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.Name)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayName("Role")
                                                    </th>
                                                    <th>
                                                        @Html.DisplayName("Assigned Projects")
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model)
                                                {
                                                    <tr>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Name)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.RoleName)
                                                        </td>
                                                        <td>
                                                            @foreach (var name in item.ProjectNames)
                                                            {
                                                                @name <br />
                                                            }
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-lg-2"></div>
                                </div>
                           
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}







 


<!--End Edit Table=======================================================================================================================-->

<div class="row" align="center">
    <h4 style="font:oblique">
        | @Html.ActionLink("Return To Home", "Dashboard", "Home") |
    </h4>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}





