@model Zach_BugTracker.Models.TicketComments

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TicketComments</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ticket.SubmitterId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ticket.Submitter.FullName)
        </dd>

        <dt>
            @Html.DisplayName("Comment Created By")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
